   <main class="dash">
      <div class="grid-container">
        
          <!--Information/Search-->
          <div class="box mosaic">
              <h1 class="item">{{title}}</h1>
            <div class="item" >
                <h2 class="nutri-title">Sugar</h2>
                <div><span class="digits">{{sugar}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Calories</h2>
                <div><span class="digits">{{calories}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Fiber</h2>
                <div><span class="digits">{{fiber}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Transfat</h2>
                <div><span class="digits">{{transfat}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Protien</h2>
                <div><span class="digits">{{protien}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Cholesterol</h2>
                <div><span class="digits">{{cholesterol}}mg</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Fat</h2>
                <div><span class="digits">{{fat}}g</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Carbs</h2>
                <div><span class="digits">{{carbs}}</span></div>
            </div>
            <div class="item" >
                <h2 class="nutri-title">Sodium</h2>
                <div><span class="digits">{{sodium}}mg</span></div>
            </div>
          </div>
      </div>
    </main>