   <main class="dash">
      <div class="grid-container">
        
          <!--Information/Search-->
          <div class="box mosaic">

              <div class="item" ><span class="digits">{{title}}</span></div>
            <div class="item" ><div>Sugar</div><div><span class="digits">{{sugar}}</span></div></div>
            <div class="item" ><div>Carbs</div><div><span class="digits">{{carbs}}</span></div></div>
            <div class="item" ><div>Fiber</div><div><span class="digits">{{fiber}}</span></div></div>
            <div class="item" ><div>Transfat</div><div><span class="digits">{{transfat}}</span></div></div>
            <div class="item" ><div>Protien</div><div><span class="digits">{{protien}}</span></div></div>
            <div class="item" ><div>Cholesterol</div><div><span class="digits">{{cholesterol}}</span></div></div>
            <div class="item" ><div>Fat</div><div><span class="digits">{{fat}}</span></div></div>
            <div class="item" ><div>Carbs</div><div><span class="digits">{{carbs}}</span></div></div>
            <div class="item" ><div>Sodium</div><div><span class="digits">{{sodium}}</span></div></div>
            
          </div>
          
      </div>
    </main>